---
title: Orion Leidl Wilson
---
<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- General metadata -->
        <title>{{ title }}</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="{{ description }}" />
        <link rel="canonical" href="https://orionlw.me{{ page.url }}" />

        <!-- rel="me" verification -->
        <link rel="me" href="https://github.com/orionlw" />

        <!-- IndieAuth -->
        <link rel="authorization_endpoint" href="https://indieauth.com/auth">

    </head>
    <body>
            <header>
                <h1> {{ title | default: "Orion Leidl Wilson" }} </h1>
            </header>
            
            {{ content }}
            
            <!-- footer -->
            <footer>
                <div class="footer-links">
                    <a href="/" title="Back to Home">← Back to Home</a>
                </div>
                <div style="height: 1em;"></div>
                <div class="social-icons">
                    <a href="https://github.com/orionlw" title="GitHub">GitHub</a>
                    <a href="https://mastodon.social/@orionlw" rel="me" title="Mastodon">Mastodon</a>
                    <a href="https://letterboxd.com/orionlw" title="Letterboxd">Letterboxd</a>
                    <a href="mailto:orionlw@pm.me" title="Email">Email</a>
                </div>
                <p>© 2025 Orion Leidl Wilson. Site made with <a href="https://www.11ty.dev/" target="_blank" rel="noopener">11ty</a></p>
                
            </footer>
        <!-- close "wrapper"-->
        </div>
    </body>
</html>