---
title: Orion Leidl Wilson
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ description }}" />
    <link rel="canonical" href="https://orionlw.me{{ page.url }}" />
    <link
      rel="alternate"
      type="application/atom+xml"
      title="Atom Feed"
      href="/feed.xml"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic" />
    <link rel="me" href="https://github.com/orionlw" />
    <link rel="authorization_endpoint" href="https://indieauth.com/auth" />
    <link rel="icon" href="/guitar-solid.svg" type="image/x-icon" />
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <nav class="nav">
      <a href="/" class="button pseudo">Home</a>
      <a href="/blog" class="button pseudo contrast">Blog</a>
      <a href="/about" class="button pseudo">About Me</a>
      <a href="/cat" class="button pseudo">Cat</a>
    </nav>

    <main class="container" style="margin-top: 3.5rem">
      {% if title and page.url != "/" %}
      <h1>{{ title }}</h1>
      {% endif %}
      {{ content }}
    </main>

    <footer class="container">
      <div class="flex one two-600">
        <div>
          <small> © 2025 Orion Leidl Wilson </small>
        </div>
        <div class="social-icons" style="text-align: right">
          <a href="https://github.com/orionlw" title="GitHub">GitHub</a>
          <a href="https://mastodon.social/@orionlw" rel="me" title="Mastodon"
            >Mastodon</a
          >
          <a href="https://pixelfed.social/orionlw" rel="me" title="Pixelfed"
            >Pixelfed</a
          >
          <a href="https://letterboxd.com/orionlw" title="Letterboxd"
            >Letterboxd</a
          >
          <a href="mailto:orionlw@pm.me" title="Email">Email</a>
          <a href="/feed.xml" title="Atom Feed">Atom Feed</a>
        </div>
      </div>
    </footer>
  </body>
</html>
