---
title: Orion Leidl Wilson
---
<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- General metadata -->
        <title>{{ title }}</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="{{ description }}" />
        <link rel="canonical" href="https://orionlw.me{{ page.url }}" />

        <!-- rel="me" verification -->
        <link rel="me" href="https://github.com/orionlw" />

        <!-- IndieAuth -->
        <link rel="authorization_endpoint" href="https://indieauth.com/auth">

    </head>
    <body>
            <header>
                <h1> {{ title | default: "Orion Leidl Wilson" }} </h1>
            </header>
            
            {{ content }}
            
            <!-- footer -->
            <footer>
                <div class="social-icons">
                    <a href="https://github.com/orionlw" title="GitHub"><img src="/media/github-logo-light.svg" alt="GitHub" width="32" height="32" /></a>
                </div>
                <p>© 2025 Orion Leidl Wilson</p>
                
            </footer>
        <!-- close "wrapper"-->
        </div>
    </body>
</html>